__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
build/
dist/

.venv*/
hf_assets/
datasets/
checkpoints/
storage/
output/
data/

monim/logs/
monim/final/

knnlm/fairseq/data/data_utils_fast.cpp
knnlm/fairseq/data/token_block_utils_fast.cpp
